body {
    background-color:maroon;
    color:aliceblue;
    font-family: "Sevillana", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:darkgreen ;
    color:black;
    font-family: "Sevillana", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}